@tailwind base;
@tailwind components;
@tailwind utilities;

/* FIX RESET */
* {
  box-sizing: border-box;
}

/* ШРИФТЫ */
body {
  font-family: var(--font-body), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), sans-serif;
}

/* базовый UI */
body {
  margin: 0;
  background: #f3f3f1;
  color: #111;
}

/* убираем браузерную дичь */
a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  font: inherit;
}